<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set-password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style>
      .container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: #fff;
        padding: 20px;
      }
      .card-header {
        font-size: 24px;
        text-align: center;
        background: skyblue;
      }
      .card-body {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card-header">Set-password</div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %} {% for field in form %}
          <div class="form-group">{{ field.label_tag }} {{ field }}</div>
          {% if field.errors %}
          <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
